* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: hsl(13, 31%, 94%);
  display: flex;
}

.title {
  font-size: 2rem;
}

.product-card img {
  width: 30%;
  height: 35%;
  border-radius: 5px;
}
