* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: hsl(13, 31%, 94%);
  display: flex;
  margin: 40px;
}

.title {
  font-size: 2rem;
  margin-left: 20px;
  color: hsl(14, 65%, 9%);
}

.product-card {
  position: relative;
}

.product-card img {
  width: 50%;
  height: 55%;
  border-radius: 5px;
}

.product-card .category {
  color: hsl(14, 25%, 72%);
  font-weight: 500;
}
.product-card .name {
  color: hsl(14, 65%, 9%);
}
.product-card .price {
  color: hsl(14, 86%, 42%);
}

.product-details {
  margin-top: 2em;
}

.category {
  margin-bottom: 0.5em;
}
.name {
  margin-bottom: 0.5em;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 24px; /* space between cards */
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 20px;
  background-color: hsl(20, 50%, 98%);
  color: hsl(14, 65%, 9%);
  font-size: 10px;
  font-weight: 600;
  border: 1px solid hsl(14, 65%, 9%);
  border-radius: 30px;
  cursor: pointer;
}
.quantity-btn {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 20px;
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  font-size: 10px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  display: none;
}

.dash,
.plus {
  border: 1px solid hsl(20, 50%, 98%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.action-btn {
  position: absolute;
  top: 53%;
  left: 15%;
}
.add-to-cart img {
  width: 20px;
  height: 20px;
}

.product-card > img {
  width: 100%;
  height: 180px; /* Adjust as needed */
  object-fit: cover; /* ensures it fills the space without distortion */
  border-radius: 8px;
  display: block;
}

.cart {
  width: 300px;
  height: 250px;
  background-color: hsl(20, 50%, 98%);
  border-radius: 7px;
  padding: 0.8em;
}

.cart > h3 {
  color: hsl(14, 86%, 42%);
  font-size: 1.5rem;
}
